<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Страницы не существует</title>
<style>
    .btn-back {
        background-color: wheat;
        align-items: center;
        width: 200px;
        justify-content: flex-start;
    }
    
</style>    
</head>
<body>
<h1 style="color: darkred">Ошибка 404! Страница {{ url }}/{{ url2 }} не найдена! Так бывает :)</h1>
<div class="error-container">
    <form action="" method="post">
        <a href="http://localhost:8000/" class="btn btn-back" style="color: crimson; font-size: 1.5em; text-shadow: 1px 1px black; margin-top: 10px;">Вернуться на начальную страницу</a>    
    </form>
</div>
</body>
</html>